<h4 class="m-4">ログイン</h2>

<%= form_with model: @user, url: session_path(resource_name) do |f| %>
  <div class="field text-center">
    <i class="far fa-envelope"></i>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-ssm m-2 p-2", placeholder:"メールアドレス" %>
  </div>

  <div class="field text-center">
    <i class="fas fa-unlock"></i>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-ssm m-2 p-2", placeholder:"パスワード" %>
  </div>


  <div class="actions text-center m-3">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
  <div class="text-center m-3">
    <h3><strong>会員登録がお済みでない方</strong></h3>
    <%= render "user/shared/links" %> から新規登録を行なってください
  </div>