<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-3">
      <h2>Game</h2>
      <div class="card d-flex justify-content-center" style="width: 20rem; outline-width: 20px;">
        <div class="text-center">
          <%= image_tag @game.get_game_image(100,100), style: 'border-radius: 50%' %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @game.title %></h5>
          <p class="card-text"><%= @game.introduction %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">プラットフォーム
          <p><%= @game.platform() %></p></li>
          <div id="comments_counter" class="m-3">
            <%= render "user/comments/counter", game: @game %>
          </div>
        </ul>
      </div>
    </div>


    <div class="col-md-8 offset-md-1">
      <h2>投稿一覧</h2>
        <%= render "user/comments/form", game: @game, comment: @comment %>
      <div id="comments_index">
        <%= render "user/comments/index", game: @game, comments: @comments %>
      </div>
    </div>
  </div>
</div>