<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-3">
      <h2>Game</h2>
      <div class="card d-flex justify-content-center" style="width: 20rem; outline-width: 20px;">
        <div class="text-center">
          <%= image_tag @game.get_game_image(100,100), style: 'border-radius: 50%' %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @game.title %></h5>
          <p class="card-text"><%= @game.introduction %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">プラットフォーム
          <p><% @game.genres.each do |genre| %>
                    <%= genre.pratform %>
                    <% end %></p></li>
          <div>
            <%=link_to edit_admin_game_path(@game), class: 'btn btn-outline-secondary btn-block' do %>
              <i class="fas fa-cog"></i>
            <%end%>
          </div>
        </ul>
      </div>
    </div>


    <div class="col-md-8 offset-md-1">
      <h2>投稿</h2>
      <table>
        <tbody>
          <% @game.comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to admin_user_path(comment.user) do %>
                <%= image_tag comment.user.get_profile_image(50,50) %><br>
                <%= comment.user.name %>
              <%end%>
            </td>
            <td><%= comment.comment %></td>
            <td>
              <%= link_to "削除", admin_user_comment_path(@game, comment), method: :delete,"data-confirm"=>"本当に消しますか？", class:"btn btn-sm btn-danger",remote: true %>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>