<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>編集画面</h2>
      <!--バリデーションメッセージ-->
      <div>
      <% if @user.errors.any? %>
        <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <%end%>
        </ul>
      <%end%>
      </div>

      <%= form_with model:@user,url:user_path, method: :patch do |f| %>
        <table>
          <tbody>
            <tr>
              <td>イメージ画像</td>
              <td>
                <%= f.file_field :profile_image, accept: "image/*" %>
              </td>
            </tr>
            <tr>
              <td>名前</td>
              <td>
                <%= f.text_field :name, rows:'3', placeholder: "商品名" %>
              </td>
            </tr>
            <tr>
              <td>紹介文</td>
              <td>
                <%= f.text_area :introduction, rows:'6', placeholder: "紹介文"  %>
              </td>
            </tr>
            <tr>
              <td>プラットフォーム</td>
              <td>
                <% @genres.each do |genre| %>
                  <%= f.check_box :genre_ids,
                                  { multiple: true,
                                    checked: @user.genres.present? ? @user.genres.split(",").include?(genre) : false },
                                    genre.id, nil %>
          　　      <%= f.label genre.pratform %><br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
              <%= f.submit "変更を保存",class: "btn btn-success" %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>