<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-3">
      <h2>プロフィール</h2>
      <div class="card d-flex justify-content-center" style="width: 20rem; outline-width: 20px;">
        <div class="text-center">
          <%= image_tag @user.get_profile_image(100,100), style: 'border-radius: 50%' %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <p class="card-text"><%= @user.introduction %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">プラットフォーム
          <p><% @user.genres.each do |genre| %>
                      <%= genre.pratform %>
                    <% end %></p></li>
          <li class="list-group-item">
            フォロー  : <%= link_to user_followings_path(@user) do %>
                          <%= @user.followings.count %>
                        <%end%></li>
          <li class="list-group-item">
            フォロワー: <%= link_to user_followers_path(@user) do %>
                          <%= @user.followers.count %>
                        <%end%></li>
        </ul>
        <div class="card-body">
          <% if @user.guest_user? %>
            <div></div>
          <% elsif @user==current_user %>
            <div class="row">
              <%=link_to edit_user_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
                <i class="fas fa-user-cog"></i>
             <%end%>
            </div>
          <%else%>
            <div class='row' >
            <!--フォローボタン-->
              <div id="relationship_btns_<%= @user.id %>"><%= render 'user/relationships/btn', user: @user %></div>
            <!--チャットボタン-->
              <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
                <%= link_to message_path(@user.id), class: "btn btn-success ml-3" do %>
                  <i class="far fa-comments"></i>
                <% end %>
              <% end %>
            </div>
          <%end%>
        </div>
      </div>

  </div>
    <div class="col-md-8 offset-md-1">
      <h2>Comments</h2>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to game_path(comment.game.id) do %>
                <%= image_tag comment.game.get_game_image(80,80) %><br>
                <%= comment.game.title %>
              <%end%>
            </td>
            <td><%= comment.comment %></td>
            <td id="nice_buttons_<%= comment.id %>"><%= render 'user/comments/nice', comment: comment %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
