<table>
  <tbody>
    <% game.comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image(50,50) %><br>
          <%= comment.user.name %>
        <%end%>
      </td>
      <td><%= comment.comment %></td>
      <% if comment.user==current_user %>
      <td>
        <%= link_to "削除", game_comment_path(game, comment), method: :delete,"data-confirm"=>"本当に消しますか？", class:"btn btn-sm btn-danger",remote: true %>
      </td>
      <% end %>
      <td id="nice_buttons_<%= comment.id %>"><%= render 'user/comments/nice', comment: comment %></td>
    </tr>
    <%end%>
  </tbody>
</table>