<% if user_signed_in? %>
<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
  <h2>Users search for "<%= @word %>"</h2>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>genre</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(50, 50) %></td>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><% user.genres.each do |genre| %>
                <%= genre.pratform %>
                <% end %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがGameの時 -->
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>genre</th>
        <th></th>
      </tr>
    <tbody>
    <h2>Games search for "<%= @word %>"</h2>
    <% @games.each do |game| %>
      <tr>
        <td>
          <%= link_to game_path(game) do %>
            <%= image_tag game.get_game_image(50, 50) %>
          <% end %>
        </td>
        <td><%= link_to game.title , game_path(game.id) %></td>
        <td><% game.genres.each do |genre| %>
                <%= genre.pratform %>
                <% end %></td>
        <td>コメント数: <%= game.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
<% else %>
<table class="table table-hover table-inverse">
  <!--管理者側検索対象モデルがUserの時 -->
  <% if @range == "User" %>
  <h2>Users search for "<%= @word %>"</h2>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, admin_user_path(user) %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.is_active %>
              <span class="text-success">有効</span>
            <% else %>
              <span class="text-secondary">退会</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--管理者側検索対象モデルがGameの時 -->
    <thead>
      <tr>
        <th>Title</th>
        <th>genre</th>
        <th></th>
        <th>ステータス</th>

      </tr>
    <tbody>
    <h2>Games search for "<%= @word %>"</h2>
    <% @games.each do |game| %>
      <tr>
        <td>
          <%= link_to admin_game_path(game) do %>
            <%= image_tag game.get_game_image(50, 50) %>
          <% end %>
        </td>
        <td><%= link_to game.title , admin_game_path(game.id) %></td>
        <td><% game.genres.each do |genre|%>
            <%= genre.pratform %>
            <% end %></td>
        <td>コメント数:<%= game.comments.count %></td>
        <td><span style="color:green;"><%= game.is_active? ? '起動中' : '停止中' %></td>
      <% end %>
    </tbody>
  <% end %>
</table>
<% end %>