<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-3">
      <h2>プロフィール</h2>
      <div class="card d-flex justify-content-center" style="width: 20rem; outline-width: 20px;">
        <div class="text-center border-50">
          <%= image_tag @user.get_profile_image(100,100), style: 'border-radius: 50%' %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <p class="card-text"><%=safe_join(@user.introduction.split("\n"),tag(:br))%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">プラットフォーム
          <p><% @user.genres.each do |genre| %>
                <%= genre.pratform %>
             <% end %></p></li>
          <li class="list-group-item">
            フォロー  : <%= @user.followings.count %></li>
          <li class="list-group-item">
            フォロワー: <%= @user.followers.count %></li>
          <%= form_with model:@user,url:admin_user_path, method: :patch do |f| %>
          <li class="list-group-item">
            ステータス<br>
            <p><%= f.radio_button :is_active, :true %>有効</p>
            <p><%= f.radio_button :is_active, :false %>退会</p>
          <div><%= f.submit "変更を保存",class: "btn btn-warning" %></div>
          <% end %></li>
        </ul>
      </div>
    </div>


    <div class="col-md-8 offset-md-1">
      <h2>投稿</h2>
      <% @comments.each do |comment| %>
      <div class="comment-box">
        <div class="row">
          <div class="col-2 text-center">
              <%= link_to admin_game_path(comment.game) do %>
                <%= image_tag comment.game.get_game_image(80,80), style: 'border-radius: 50%' %><br>
                <h5><%= comment.game.title %></h5>
              <%end%>
          </div>

          <div class="col-9">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %><br>
            <!--改行できるようにした-->
            <%= safe_join(comment.comment.split("\n"),tag(:br))%>
          </div>
          <div class="row">
            <div class="text-right">
              <%= link_to "削除", admin_user_comment_path(@user, comment), method: :delete,"data-confirm"=>"本当に消しますか？", class:"btn btn-sm btn-danger text-end m-3",remote: true %>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>